* {
    margin: 0;
    padding: 0;
}

body {
    background-color: peachpuff;
    color: #222;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;    
}

h1 {
    text-transform: uppercase;
    color: rgb(165, 91, 42);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}